---
---
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.my-wrong-note {
  background-color: #2d3748;
  border-left: 5px solid #fc8181; 
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #f7fafc; 
}


.highlight-dark {
  background-color: #744210; 
  color: #feebc8; 
  padding: 2px 5px;
  border-radius: 3px;
}

.my-box {
  background-color: #2d3748;
  padding: 24px; 
}


.blank-space {
  height: 40px; 
}

/* --- 코드 블록(```) 디자인 커스텀 --- */
.highlight pre {
  font-size: 16px !important; 
  padding: 20px 25px !important; 
  line-height: 1.6 !important; 
}

/* --- 블로그 본문 및 메인 화면 좌우 숨통 틔우기 --- */

/* 1. 포스트(글) 내부 좌우 여백 */
.page__inner-wrap {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

/* 2. 메인 화면(Recent Posts) 좌우 여백 */
.archive {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* 3. 보너스: 글자 줄 간격 넓히기 (훨씬 읽기 편해집니다) */
p, li {
  line-height: 1.8 !important;
}
